*{
    margin: 0;
}

@font-face {
    font-family: 'Alliance';
    src: url(alliance.otf) format('opentype');
}

body{
    font-family: 'Alliance', sans-serif;
    font-weight: bold;
    animation: muitasCoresFundo 10s infinite;
}

.content{
    display: flex;
    padding: 20px;
    background: rgba(255,255,255,0.25);
    width: 275px;
    border-radius: 0 0 10px 0;
}

.input-content{
    display: inline-block;
}

label{
    display: block;
    margin: 0 0 8px 0;
}

#input{
    border: none;
    background: rgba(0,0,0,0.25);
    border-radius: 4px;
    height: 20px;
    width: 139px;
}
#input:focus{
    outline: none;
}

#botao{
    text-transform: uppercase;
    font-weight: 1000;
    border: none;
    background: #5865F2;
    border-radius: 8px;
    padding: 16px 30px 16px 30px;
    margin: 3px 0 0 18px;
}

li{
    list-style-type: none;
    animation: muitasCoresTexto 10s infinite;
    text-transform: uppercase;
    margin: 0 10px 10px 10px;
}

.nicks{
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes muitasCoresFundo{
    0%{background-color: #5865F2;}
    17%{background-color: #57F287;}
    33%{background-color: #FEE75C;}
    49%{background-color: #a41de2;}
    65%{background-color: #ED4249;}
    81%{background-color: #DCDCDC;}
    95%{background-color: #23272A;}
    100%{background-color: #5865F2;}
}
@keyframes muitasCoresTexto{
    0%{color: #FEE75C;}
    17%{color: #23272A;}
    49%{color: #DCDCDC;}
    65%{color: #57F287;}
    81%{color: #EC4596;}
    100%{color: #FEE75C;}
}

@media screen and (max-width: 426px){
    .content{
        width: calc(100vw - 40px);
        border-radius: 0;
        justify-content: center;
    }
}